/* pink #ffd1dc purple C3B1E1 + mrgin*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	background-color: #de5d83;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, minmax(100px, auto));
	position: relative;
}

#grid {
	position: absolute;
	display: none;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	height: 100%;
}

#grid p {
	border: 1px solid #000;
	margin: 0;
	opacity: 0.2;
}

header {
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 1/5;
	align-self: center;
	max-width: 50%;
	padding-left: 30px;
	height: auto;
}

header nav {
	grid-column: 6/13;
	align-self: center;
}

header nav ul {
	margin: 0;
	padding: 0;
	float: center;
}

header nav ul li {
	display: inline;
	padding-left: 50px;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
}

.sophiehatter-text {
	grid-column: 1/7;
	align-self: center;
	padding: 100px;
}

.sophiehatter-image {
	grid-column: 7/13;
}

.sophiehatter-image img {
	width: 100%;
	max-width: 60%;
	height: auto;
	border-radius: 50%;
}

h1 {
	font-size: 54px;
	line-height: 60px;
	font-weight: 800;
	color: #fff;
	margin: 0;
}

h4 {
	font-size: 16px;
	line-height: 30px;
	font-weight: 600;
	color: #000;
}

h3 {
	line-height: 30px;
	font-weight: 600;
	color: #000;
}

.button {
	padding: 15px 30px;
	background-color: #c3b1e1;
	display: inline-block;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}

.button:hover {
	background-color: #a999c4;
}

.sophiehatter-text {
	grid-column: 1/7;
	align-self: center;
}

.sophiehatter-image {
	grid-column: 7/13;
	align-self: center;
}

.title {
	grid-column: 1/13;
	text-align: center;
}

h2 {
	color: #fff;
	font-size: 30px;
}

.hobby-text {
	grid-column: 2/8;
	align-self: center;
}

.hobby-image {
	grid-column: 8/12;
	align-self: center;
}

.hobby-image img {
	width: 100%;
	max-width: 80%;
	height: auto;
	border-radius: 50%;
}

p {
	font-size: 20px;
	line-height: 30px;
}

.interesses-text {
	grid-column: 6/12;
	align-self: center;
}

.interesses-image {
	grid-column: 2/6;
	align-self: center;
	grid-row: 5/6;
}

.interesses-image img {
	width: 100%;
	max-width: 80%;
	height: auto;
	border-radius: 50%;
}

.hamburger-menu {
	position: absolute;
	top: 40px;
	right: 200px;
}

.menu-icon {
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 25px;
	position: relative;
}

.menu-icon span {
	background: #fff;
	display: block;
	height: 4px;
	width: 100%;
	margin: 5px 0;
	transition: 0.3s;
}

#menu-toggle {
	display: none;
}

#menu-toggle:checked + .menu-icon span:nth-child(1) {
	transform: rotate(45deg);
	position: relative;
	top: 8px;
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
	opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
	transform: rotate(-45deg);
	position: relative;
	top: -8px;
}

.menu {
	position: absolute;
	top: 50px;
	right: 0;
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu ul li {
	text-align: center;
}

.menu ul li a {
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

#menu-toggle:checked ~ .menu {
	display: flex;
}

.content {
	padding: 20px;
}

section {
	padding: 50px 0;
}
