/* Kleuren #faf6ee en #2e1d0e & fonts Oswald en Quicksand*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@300..700&display=swap");

body {
	margin: 0;
	background-color: #faf6ee;
	color: #2e1d0e;
	font-family: "Quicksand", sans-serif;
	font-size: 17px;
	line-height: 1.5;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	margin: 0 auto;
}

.header img {
	width: 400px;
	height: auto;
	
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul a {
	display: inline-block;
	margin-left: 30px;
	margin-right: 40px;
	text-decoration: none;
	color: #faf6ee;
	background-color: #2e1d0e;
	padding: 10px 25px;
	border-radius: 10px;
	font-family: 600;
	transition: background-color 0.5s ease;
}

.menu ul a:hover {
	background-color: #556b2f;
	color: #faf6ee;
}

.button {
	background-color: #2e1d0e;
	color: #faf6ee;
	padding: 10px 25px;
	border-radius: 10px;
	text-decoration: none;
	font-weight: 600;
	transition: background-color 0.5s ease;
	display: inline-block;
}

.button:hover {
	background-color: #556b2f;
}

.intro {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.sophiehatter-text {
	flex: 2;
	padding-right: 50px;
}

.sophiehatter-text h1 {
	font-family: "Abril Fatface", serif;
	font-size: 50px;
	margin-bottom: 20px;
}

.sophiehatter-text p {
	font-size: 18px;
	margin-bottom: 50px;
}

.sophiehatter-image {
	flex: 1;
	text-align: center;
}

.sophiehatter-image img {
	width: 350px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.sophiehatter-text h2 {
	font-family: "Abril Fatface", serif;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.button {
	display: block;
	margin: auto;
	text-align: center;
	width: fit-content;
	margin-top: 50px;
}

.hobby {
	display: flex;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.hobby-text {
	flex: 2;
	padding-right: 50px;
	padding-left: 50px;
}

.hobby-text h2 {
	font-family: "Abril Fatface", serif;
	font-size: 35px;
	margin-bottom: 20px;
}

.hobby-text p {
	font-size: 18px;
}

.hobby-image {
	flex: 1;
}

.hobby-image img {
	width: 100%;
	max-width: 300px;
	border-radius: 15px;
}

.interesses {
	display: flex;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.interesses-text {
	flex: 2;
	padding-right: 50px;
	padding-left: 50px;
}

.interesses-text h2 {
	font-family: "Abril Fatface", serif;
	font-size: 35px;
	margin-bottom: 20px;
}

.interesses-text p {
	font-size: 18px;
}

.interesses-image {
	flex: 1;
}

.interesses-image img {
	width: 100%;
	max-width: 300px;
	border-radius: 15px;
}

